{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="container-md bg-dark border border-secondary border-3 border-dark" style="--bs-bg-opacity: 0.2; border-radius: 2rem;">
        <div class="row">
            <div class="col">
                <div class="display-1 text-center text-light mt-3 m-3 fw-bold"><i class="bi bi-house-fill"></i></div>
            </div>  
        </div>
        <div class="row">
            <div class="col">
            <div class="display-5 text-center text-light mt-3 fst-italic">Welcome {{name}},</div>
            </div> 
        </div>
        <div class="row mb-5">
            <div class="col">
            <div class="display-6 text-center text-light mt-3 fst-italic text-decoration-underline">What do you want to do today?</div>
            </div> 
        </div>
        
        
        <div class="row mt-5 mb-4">
            <div class="col-1"></div>
            <div class="col-5">
                <a class="nav-link active" href="/calculate"><img src="/static/calculatebubble.png" style="border-radius: 2rem;" class="img-fluid border border-4 border-dark me-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Use our variety of calculators to help with your financial planning."></a>
            </div>
            <div class="col-5">
                <a class="nav-link active" href="/budget"><img src="/static/budgetbubble.png" style="border-radius: 2rem;" class="img-fluid border border-4 border-dark ms-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Our budgetting tool is personally customisable to suit your individual needs."></a>
            </div>
            <div class="col-1>"></div>
        </div>

        <div class="row mb-4">
            <div class="col-1"></div>
            <div class="col-5">
                <a class="nav-link active" href="/compare">
                    
                    <img src="/static/comparebubble.png" style="border-radius: 2rem;" class="img-fluid border border-4 border-dark me-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Compare undergraduate salaries across different majors to make an informed choice before university.">
                
                </a>
            </div>
            <div class="col-5">
                <a class="nav-link active" href="/learn"><img src="/static/learnbubble.png" style="border-radius: 2rem;" class="img-fluid border border-4 border-dark ms-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Compare undergraduate salaries across different majors to make an informed choice before university."></a>
            </div>
            <div class="col-1>"></div>
        </div>

        <div class="row mb-2">
            <div class="col-10"></div>
            <div class="col-2">
            <a href="/logout" class="text-decoration-none"> <div class="text-light fs-6 fw-bold me-2 mb-2">Sign out</div></a>
            </div> 
        </div>

        <div class="row">
            <div class="col-10"></div>
            <div class="col-2">
            <a href="/change" class="text-decoration-none"> <div class="text-light fs-6 fw-bold me-2 mb-2 mt-3">Change pass</div></a>
            </div> 
        </div>
    </div>
    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
})
    </script>

{% endblock %}
