{% extends "layout.html" %}

{% block title %}
    Calculate
{% endblock %}

{% block main %}
<script src="/static/scripts.js"></script>
<div class="container-md text-start bg-dark border border-secondary border-3 border-dark" style="--bs-bg-opacity: 0.2; border-radius: 2rem;">
    
    <div class="row justify-content-center">
        <h1 class="display-1 text-light text-center">
            Learn <i class="bi bi-mortarboard-fill"></i>
        </h1>
        
    </div>
    
    <div class="row ">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark border border-dark" style="--bs-bg-opacity:0.4;">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav justify-content-center w-100 fs-5 fw-bold">
                 <a class="nav-link"href="#search">Search</a>
                  <a class="nav-link "href="#books">Books</a>
                  <a class="nav-link" href="#">Flowcharts</a>
                  <a class="nav-link disabled">Videos</a>
                  <a class="nav-link" href="#communities">Communities</a>
                </div>
              </div>
            </div>
          </nav>
    </div>
    <div class="row justify-content-center align-items-center m-3">
        <h2 class="display-5 text-light" id="search">Search investopedia</h2>
    </div>
    
    <div class="row bg-dark justify-content-center align-items-center m-1 mt-3" style="--bs-bg-opacity:0.4; border-radius: 1rem;">
        <div class="col-3">
            
            <a href="https://www.investopedia.com/"><img src="/static/Investopedia-Logo.png" class="img-fluid"></a>
        
        </div>
        <div class="col-9">
            <form class="d-flex m-3" id="searchform">
                <div class="input-group align-bottom">
                    <span class="input-group-text"><i class="bi bi-search"></i></span>
                    <input class="form-control me-2" type="text" id="searchterm"placeholder="Search for terms on investopedia"  aria-label="Search" style="opacity: 0.6;"> 
                </div>
                <button class="btn btn-dark" type="submit">Search</button>
            </form>
        </div>  
    </div>

    <div class="row justify-content-center align-items-center m-3" id="books">
        <h2 class="display-5 text-light">Reading list</h2>
    </div>

    
    
    <div class="row justify-content-center ">
        <div class="col-md-6">
            <div class="d-flex align-items-start">
                <div class="nav flex-column nav-pills chapters me-3 bg-light" id="v-pills-tab" role="tablist" aria-orientation="vertical" style="border-radius: 0.25rem;">
                  <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">General</button>
                  <button class="nav-link " id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Investing</button>
                  <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Budgetting</button>
                  <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Retirement</button>
                </div>
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                            <ul class="list-group bg-dark" style="--bs-bg-opacity:0.8">
                                <li class="list-group-item list-group-item-dark">Personal Finance in Your 20s For Dummies by Eric Tyson</li>
                                <li class="list-group-item list-group-item-secondary">Rich Dad Poor Dad by Robert Kiyosaki</li>
                                <li class="list-group-item list-group-item-dark">The Richest Man in Babylon by George Sameul Clason</li>
                                <li class="list-group-item list-group-item-secondary">The Millionaire Next Door: The Surprising Secrets of America's Wealthy by Thomas J Stanley</li>
                            </ul>
                        </div>
                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                            <ul class="list-group bg-dark" style="--bs-bg-opacity:0.8">
                                <li class="list-group-item list-group-item-dark">The Intelligent Investor by Benjamin Graham <i class="bi bi-hand-thumbs-up-fill" style="font-size: 1.5rem; color: #ecb308;"  data-bs-toggle="tooltip" data-bs-placement="Top" title='Reccomended'></i></li>
                                <li class="list-group-item list-group-item-secondary">The Bogleheads' Guide to Investing by Mel Lindauer, Michael LeBoeuf, and Taylor Larimore <i class="bi bi-hand-thumbs-up-fill" style="font-size: 1.5rem; color: #ecb308;"  data-bs-toggle="tooltip" data-bs-placement="Top" title='Reccomended'></i></li>
                                <li class="list-group-item list-group-item-dark">A Random Walk Down Wall Street by Burton Malkiel</li>
                                <li class="list-group-item list-group-item-secondary">Little Book of Common Sense Investing: The Only Way to Guarantee Your Fair Share of Stock Market Returns by John C Bogle</li>
                            </ul>
                        </div>
                        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                            <ul class="list-group bg-dark" style="--bs-bg-opacity:0.8">
                                <li class="list-group-item list-group-item-dark">Your Money or Your Life by Jospeh R Dominguez</li>
                                <li class="list-group-item list-group-item-secondary">The Total Money Makeover by Dave Ramsey</li>
                            </ul>
                        </div>
                            
                    
                        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                            <ul class="list-group bg-dark" style="--bs-bg-opacity:0.8">
                                <li class="list-group-item list-group-item-dark">Rich by Retirement by Joshua Giersch <i class="bi bi-lightning-charge-fill" style="font-size: 1.5rem; color: #ecb308;"  data-bs-toggle="tooltip" data-bs-placement="Top" title='Made for Singaporeans.'></i></li>
                                <li class="list-group-item list-group-item-secondary">Get a Life: You Don't Need a Million to Retire Well by Ralph Warner</li>
                                <li class="list-group-item list-group-item-dark">Building Wealth and Being Happy: A Practical Guide to by Graeme Falco</li>
                            </ul>
                        </div>
                    </div>
            </div>
            
        </div>
        <div class="col-4">
    </div>


    <div class="row justify-content-center align-items-center m-3" id="communities">
        <h2 class="display-5 text-light">Communities</h2>
    </div>

    <div class="row justify-content-center" >

        <div class="col-md-6">
            <ul class="list-group m-3 bg-dark" style="--bs-bg-opacity:0.4" id="communities">
                <li class="list-group-item list-group-item-dark"><a href="https://www.reddit.com/r/singaporefi/" class="text-dark text-decoration-none">Singapore Financial Independence Subreddit &nbsp<i class="bi bi-reddit" style="color: crimson; font-size: 1.5rem;"></i></a></li>
                <li class="list-group-item list-group-item-secondary"><a href="https://www.reddit.com/r/Fire/" class="text-dark text-decoration-none">Financial Independence/ Retire Early(FIRE) Subreddit &nbsp<i class="bi bi-reddit" style="color: crimson; font-size: 1.5rem;"></i></a></li>
                <li class="list-group-item list-group-item-dark"><a href="https://www.reddit.com/r/FinancialIndependence/" class="text-dark text-decoration-none">Financial Independence Subreddit &nbsp<i class="bi bi-reddit" style="color: crimson; font-size: 1.5rem;"></i></a></li>
                <li class="list-group-item list-group-item-secondary"><a href="https://investmentmoats.com/" class="text-dark text-decoration-none">Investment Moats &nbsp<i class="bi bi-window" style="color: blue; font-size: 1.5rem;"></i></a></li>
                <li class="list-group-item list-group-item-dark"><a href="https://t.me/sgfinindependence" class="text-dark text-decoration-none">SG FI telegram &nbsp<i class="bi bi-telegram" style="color: #229ED9; font-size: 1.5rem;"></i></a></li>
            </ul>
        </div>
        <div class="col-4">
        </div>
    </div>

</div>




{% endblock %}