{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
<div  class="mb-3">
    <h1 class="text-light">Login</h1>
</div>

<div class="container-md text-start text-light">
    <div class="row justify-content-center">
        <div class="col-6">
            <form action="/login" method="post">
                <div class="mb-1">
                    
                <label for="inputemail" class="form-label">Email</label>
                </div>
                <div class="input-group mb-4">
                    <span class="input-group-text">
                        <i class="bi bi-envelope-fill"></i>
                    </span>
                <input required type="email" name="inputemail" class="form-control" id="inputemail1" aria-describedby="emailHelp">
                </div>

                <div class="mb-1">
                <label for="password" class="form-label">Password</label>
                </div>
                <div class="input-group mb-4">
                    <span class="input-group-text">
                        <i class="bi bi-key-fill"></i>
                    </span>
                <input required type="password" name="password" class="form-control" id="password">
                </div>

                <button type="submit" class="btn btn-dark">Login</button>
                <span>Don't have an account? Register <a href="/register" class="text-light">here</a></span>
            </form>
            
        </div>
    </div>
</div>

{% endblock %}