{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
        <div  class="mb-3 text-light"><h1>Register</h1></div>
        <div class="container-md text-start text-light">
            <div class="row justify-content-center">
                <div class="col-6">
                    <form action="/register" method="post">
                        <div class="my-4">
                        <label for="UserName" class="form-label">Name</label>
                        <div class="input-group">
                            <span class="input-group-text">
                                <i class="bi bi-person-fill"></i>
                            </span>
                            <input required type="text" name="username" class="form-control" id="UserName" aria-describedby="nameHelp">
                        </div>
                        </div>
                        
                        <div class="mb-4">
                        <label for="inputemail1" class="form-label">Email address</label>
                        <div class="input-group">
                            <span class="input-group-text">
                                <i class="bi bi-envelope-fill"></i>
                            </span>
                        <input required type="email" name="inputemail" class="form-control" id="inputemail1" aria-describedby="emailHelp">
                        </div>
                        <div id="emailHelp" class="form-text text-light" style="--bs-text-opacity: .5;">We'll never share your email with anyone else.</div>
                        </div>

                        <div class="mb-4">
                        <label for="password" class="form-label">Password</label>
                        <div class="input-group mb-4">
                            <span class="input-group-text">
                                <i class="bi bi-key-fill"></i>
                            </span>
                        <input required type="password" name="password" class="form-control" id="password">
                        </div>

                        <div class="mb-4">
                            <label for="confirmation" class="form-label">Confirm Password</label>
                            <div class="input-group">
                                <span class="input-group-text">
                                    <i class="bi bi-key-fill"></i>
                                </span>
                            <input required type="password" name="confirmation" class="form-control" id="confirm_password">
                        </div>

                        <div class="mb-4 form-check">
                        <input type="checkbox" class="form-check-input" id="wantlogin" name="WantLogin" value="want">
                        <label class="form-check-label" name="WantLogin" for="wantlogin">Login after registering.</label>
                        </div>

                        <button type="submit" class="btn btn-primary">Register</button>
                    </form>
                    
                </div>
            </div>
        </div>
{% endblock %}