{% extends "layout.html" %}

{% block title %}
    Retirement Calculator
{% endblock %}

{% block main %}

<div class="container-md text-start">
    <div class="row justify-content-center">
        <div class="col-8 mb-3">
            <h1 class="display-3 tw-bolder text-light text-center">Retirement Calculator</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-5 mb-3">
            <h3 class="fs-4 tw-bolder text-light text-start">Current Age</h3>
        </div>
        <div class="col-md-3 mb-3">
            <div class="input-group input-group-lg">
                <span class="input-group-text">
                    <i class="bi bi-person-fill"></i>
                </span>
                <input type="text" required autofocus class="form-control text-center" value="30" id="age" placeholder="Current Age">
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-5 mb-3">
            <h3 class="fs-4 tw-bolder text-light text-start">Portfolio size</h3>
        </div>
        <div class="col-md-3 mb-3">
            <div class="input-group input-group-lg">
                <span class="input-group-text">$</span>
                <input required type="text" class="form-control text-center" value="100000" id="portvalue" placeholder="Portolio Value">
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-5 mb-3">
            <h3 class="fs-4 tw-bolder text-light text-start">Yearly Contribution</h3>
        </div>
        <div class="col-md-3 mb-3">
            <div class="input-group input-group-lg">
                <span class="input-group-text">$</span>
                <input required type="text" class="form-control text-center" value="80000" id="contribution" placeholder="Yearly Contribution">
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-5 mb-3">
            <h3 class="fs-4 tw-bolder text-light text-start"> Yearly Increment</h3>
        </div>
        <div class="col-md-3 mb-3">
            <div class="input-group input-group-lg">
                
                <input required type="text" class="form-control text-center" value="4" id="incrementrate" placeholder="Growth Rate">
                <span class="input-group-text">%</span>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-5 mb-3">
            <h3 class="fs-4 tw-bolder text-light text-start">Retirement Expenses</h3>
        </div>
        <div class="col-md-3 mb-3">
            <div class="input-group input-group-lg">
                <span class="input-group-text">$</span>
                <input required type="text" class="form-control text-center" value="50000" id="withd" placeholder="Yearly Contribution">
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-5 mb-3">
            <h3 class="fs-4 tw-bolder text-light text-start">Withdrawl Rate</h3>
        </div>
        <div class="col-md-3 mb-3">
            <div class="input-group input-group-lg">
                
                <input required type="text" class="form-control text-center" value="3.25" id="Withdrawlrate" placeholder="Withdrawl Rate">
                <span class="input-group-text">%</span>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-5 mb-3">
            <h3 class="fs-4 tw-bolder text-light text-start">Yearly Investment Growth Rate</h3>
        </div>
        <div class="col-md-3 mb-3">
            <div class="input-group input-group-lg">
                
                <input required type="text" class="form-control text-center" value="7" id="growthrate" placeholder="Growth Rate">
                <span class="input-group-text">%</span>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-5 mb-3">
            <h3 class="fs-4 tw-bolder text-light text-start">Inflation Rate</h3>
        </div>
        <div class="col-md-3 mb-3">
            <div class="input-group input-group-lg">
                
                <input required type="text" class="form-control text-center" value="2" id="inflationrate" placeholder="Inflation Rate">
                <span class="input-group-text">%</span>
            </div>
        </div>
    </div>
    <script src="/static/retirement_calc.js"></script>
</div>


{% endblock %}